##################################################
#
# File:           .conkyForecast.config
# Maintainer:     Xu Xiaodong <xxdlhy@gmail.com>
# Last modified:  04/02/11 16:49:43 
#
##################################################


CACHE_FOLDERPATH = /tmp/
CONNECTION_TIMEOUT = 5
EXPIRY_MINUTES = 30
TIME_FORMAT = %H:%M
DATE_FORMAT = %Y-%m-%d
LOCALE = 
XOAP_PARTNER_ID = 1086998935
XOAP_LICENCE_KEY = 4f44c185a058cafd
MAXIMUM_DAYS_FORECAST = 7
BASE_XOAP_URL = http://xml.weather.com/weather/local/<LOCATION>?cc=*&dayf=10&link=xoap&prod=xoap&par=<XOAP_PARTNER_ID>&key=<XOAP_LICENCE_KEY>&unit=m

# vim: set ft=config:
