style "menubar"		
{
	fg[NORMAL] 		= "#73716d"
	fg[ACTIVE]		= "#73716d"
	fg[INSENSITIVE] 	= "#b2b0a9"
	fg[PRELIGHT]		= "#ffffff"
	text[NORMAL]		= "#73716d"
	text[PRELIGHT]		= "#ffffff"

	xthickness		= 1
	ythickness		= 1

	engine "pixmap"
	{
	image
	{
		function	= BOX
		state		= NORMAL
		file		= "Menu-Menubar/menubar.png"
		border		= { 2, 2, 2, 2 }
		stretch		= TRUE
    	}
	image
	{
		function	= BOX
		state 		= ACTIVE
		file		= "Menu-Menubar/menubar.png"
		border		= { 2, 2, 2, 2 }
		stretch		= TRUE
    	}
	image
	{
		function	= BOX
		state 		= INSENSITIVE
		file		= "Menu-Menubar/menubar.png"
		border		= { 2, 2, 2, 2 }
		stretch		= TRUE
    	}
	image
	{
		function	= BOX
		recolorable	= TRUE
		state 		= PRELIGHT
		file		= "Menu-Menubar/menubar-item.png"
		border		= { 10, 10, 10, 10 }
		stretch		= TRUE
	}
    }
}

style "panel-menubar"
{
	xthickness		= 1
	ythickness		= 1

	engine "pixmap"
	{
	image
	{
		function	= BOX
		state		= NORMAL
		file		= "Menu-Menubar/null.png"
		border		= { 1, 1, 1, 1 }
		stretch		= TRUE
    	}
	image
	{
		function	= BOX
		state 		= ACTIVE
		file		= "Menu-Menubar/null.png"
		border		= { 1, 1, 1, 1 }
		stretch		= TRUE
    	}
	image
	{
		function	= BOX
		state 		= INSENSITIVE
		file		= "Menu-Menubar/null.png"
		border		= { 1, 1, 1, 1 }
		stretch		= TRUE
	}
    }
}

widget_class "PanelToplevel*MenuBar" style "panel-menubar"
