#################### MENUBAR ###################


style "menubar"		

{
  xthickness			= 1
  ythickness			= 2

	engine "pixmap"
	{
		image
		{
			function	= BOX
			state = NORMAL
			file		= "Menu-Menubar/menubar.png"
			border	= { 0, 0, 0, 0 }
			stretch	= TRUE
    		}

		image
		{
			function	= BOX
			state = ACTIVE
			file		= "Menu-Menubar/menubar.png"
			border	= { 10,10, 10, 10 }
			stretch	= TRUE
    		}

		image
		{
			function	= BOX
			state = INSENSITIVE
			file		= "Menu-Menubar/menubar.png"
			border	= { 0, 0, 0, 0 }
			stretch	= TRUE
    		}

  image
    {
      function			= BOX
      recolorable		= FALSE
			state = PRELIGHT
     file				= "Menu-Menubar/menubar-item.png"

      border			= { 10, 10, 10, 10 }
      stretch			= TRUE
    }

 	}
}

